.masonry
    each val in image_arr
        .img_item
            img(src="/" + val.filename alt=val.filename title=val.filename class="img")
            .img_data
                p #{val.filename} by #{val.author} [#{val.tag}] #{val.likes} likes